<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/Head") %>
  </head>
  <body class="bg_secondary">
    <!-- inicio barra de navegacion -->
    <header><%- include("./partials/NavBar") %></header>
    <!-- fin barra de navegacion -->


	<div class="container body-container">
		<div class="row">
			<div class="col-md-3">
				<h2>Hi <%= user.name %> !! Welcome to Calamarket</h2>
				<img src="/images/avatars/<%= user.avatar %> ">
				<br>
				<br>
				<div class="alert alert-success"><%= user.email %> </div>
			</div>
		</div>
	</div>

<!-- inicio footer -->

<%- include("./partials/Footer") %>

<!-- fin footer -->

<!-- Scripts -->
<%- include("./partials/Scripts") %>

</body>
</html>