<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/Head") %>
  </head>
  <body class="bg_secondary">
    <!-- inicio barra de navegacion -->
    <header><%- include("./partials/NavBar") %></header>
    <!-- fin barra de navegacion -->

    <main class="container body-container">     

      <h1>Carga de Productos</h1>

    <ul class="errors"></ul>
    <form action="/admin-create" method="POST" enctype="multipart/form-data" id="form">
      <div class="input-group mt-3">
        <span class="input-group-text design-input" id="basic-addon1">Nombre:</span>
        <input type="text" class="form-control design-input input-name" placeholder="nombre" value="<%= locals.oldData ? oldData.name : null%>" aria-describedby="basic-addon1" name="name">
        <% if (locals.errors && errors.name){ %>
          <div class="text-danger">
            <p>
              <%= errors.name.msg %>
            </p>
          </div>
          <% } %>
      </div>
      <div class="labelName"></div>

      <div class="input-group mt-3">
        <span class="input-group-text design-input" id="basic-addon1">Imagen NFT:</span>
        <input type="file" class="form-control design-btn input-image" placeholder="imagenNFT" id="inputFile" accept="image/*" name="image" value="<%= locals.oldFile ? oldFile.path : null%>">
        <% if (locals.errors && errors.image){ %>
          <div class="text-danger">
            <p>
              <%= errors.image.msg %>
            </p>
          </div>
          <% } %>
      </div>
      <div class="labelImage"></div>
      
      <div class="input-group mt-3">
        <label class="input-group-text design-input" for="inputGroupSelect01">Categoria</label>
        <select class="form-select design-btn input-category" id="inputGroupSelect01" name="category">          
          <option selected>Choose...</option>
          <% for(let category of categories){ %>
          <option value="<%= category.id %>"><%= category.name %></option>
          <% } %>
        </select>
        <% if (locals.errors && errors.category){ %>
          <div class="text-danger">
            <p>
              <%= errors.category.msg %>
            </p>
          </div>
          <% } %>
      </div>
      <div class="labelCategories"></div>

      <div class="input-group mt-3">
        <label for="date" class="input-group-text design-input">Fecha de creacion</label>
        <input type="date" class="form-control design-input input-date" value="<%= locals.oldData ? oldData.date : null%>" id="basic-url" aria-describedby="basic-addon3" name="date">
        <% if (locals.errors && errors.date){ %>
          <div class="text-danger">
            <p>
              <%= errors.date.msg %>
            </p>
          </div>
          <% } %>
      </div>
      <div class="labelDate"></div>

      <div class="input-group mt-3">
        <label for="desc" class="input-group-text design-input">Descripcion</label>
        <textarea class="form-control design-input input-desc" aria-label="With textarea" name="desc" value="<%= locals.oldData ? oldData.desc : null%>"></textarea>
        <% if (locals.errors && errors.desc){ %>
          <div class="text-danger">
            <p>
              <%= errors.desc.msg %>
            </p>
          </div>
          <% } %>
      </div>
      <div class="labelDesc"></div>

      <div class="input-group mt-3">
        <label for="rating" class="input-group-text design-input"><i class="fas fa-award mx-1"></i></label>
        <input type="number" min=0 max=10 class="form-control design-input input-rating" placeholder="rating" aria-describedby="basic-addon1" name="rating" value="<%= locals.oldData ? oldData.rating : null%>">
        <span class="input-group-text design-input">Rating</span>
        <% if (locals.errors && errors.rating){ %>
          <div class="text-danger">
            <p>
              <%= errors.rating.msg %>
            </p>
          </div>
          <% } %>
      </div>
      <div class="labelRating"></div>

      <div class="input-group mt-3">
        <label for="price" class="input-group-text design-input"><i class="fas fa-gem mx-1"></i></label>
        <!-- <input type="number" class="form-control design-input" placeholder="price" aria-describedby="basic-addon1" name="price"> -->
        <input type="number" min=0 max=1 step="0.0001" class="form-control design-input input-price" placeholder="price" aria-describedby="basic-addon1" name="price" value="<%= locals.oldData ? oldData.price : null%>">
        <span class="input-group-text design-input">ETH</span>
        <% if (locals.errors && errors.price){ %>
          <div class="text-danger">
            <p>
              <%= errors.price.msg %>
            </p>
          </div>
          <% } %>
      </div>
      <div class="labelPrice"></div>
            
      </section>
        <button type="submit" class="design-btn mt-4">GUARDAR</button>
      </section>
         
    </form>  

    <section>
      <a href="/admin-edit"><button class="design-btn mb-4">Ir a Editar</button></a>
    <section>
    </main>

    <!-- inicio footer -->

    <%- include("./partials/Footer") %>

    <!-- fin footer -->

   <!-- Scripts -->
   <script src="/js/validationsFormLoadCard.js"></script>
   <%- include("./partials/Scripts") %>
  </body>
</html>
