<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/Head") %>
  </head>
  <body class="bg_secondary">
    <!-- inicio barra de navegacion -->
    <header><%- include("./partials/NavBar") %></header>
    <!-- fin barra de navegacion -->

    <main class="container body-container">     

      <h1>Carga de Productos</h1>

    <form action="/admin-create" method="POST" enctype="multipart/form-data">
      <div class="input-group mb-3">
        <span class="input-group-text design-input" id="basic-addon1">Nombre:</span>
        <input type="text" class="form-control design-input" placeholder="nombre" aria-describedby="basic-addon1" name="name">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text design-input" id="basic-addon1">Imagen NFT:</span>
        <input type="file" class="form-control design-btn" placeholder="imagenNFT" id="inputFile" accept="image/*" name="image">
      </div>
      
      <div class="input-group mb-3">
        <label class="input-group-text design-input" for="inputGroupSelect01">Categoria</label>
        <select class="form-select design-btn" id="inputGroupSelect01" name="category">          
          <option selected>Choose...</option>
          <% for(let category of categories){ %>
          <option value="<%= category.id %>"><%= category.name %></option>
          <% } %>
        </select>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text design-input" id="basic-addon3">Fecha de creacion</span>
        <input type="date" class="form-control design-input" id="basic-url" aria-describedby="basic-addon3" name="date">
      </div>

      <div class="input-group">
        <span class="input-group-text design-input">Descripcion</span>
        <textarea class="form-control design-input" aria-label="With textarea" name="desc"></textarea>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text design-input" id="basic-addon1"><i class="fas fa-award mx-1"></i></span>
        <input type="number" class="form-control design-input" placeholder="rating" aria-describedby="basic-addon1" name="rating">
        <span class="input-group-text design-input">Rating</span>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text design-input" id="basic-addon1"><i class="fas fa-gem mx-1"></i></span>
        <!-- <input type="number" class="form-control design-input" placeholder="price" aria-describedby="basic-addon1" name="price"> -->
        <input type="number" min=0 max=1  class="form-control design-input" placeholder="price" aria-describedby="basic-addon1" name="price">
        <span class="input-group-text design-input">ETH</span>
      </div>
            
      </section>
        <button type="submit" class="design-btn">GUARDAR</button>
      </section>
         
    </form>  

    <section>
      <a href="/admin-edit"><button class="design-btn">Ir a Editar</button></a>
    <section>
    </main>

    <!-- inicio footer -->

    <%- include("./partials/Footer") %>

    <!-- fin footer -->

   <!-- Scripts -->
   <%- include("./partials/Scripts") %>
  </body>
</html>
